<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>simpleweb</display-name>  
  <servlet>
 	<servlet-name>Quercus Servlet</servlet-name>  
    <servlet-class>com.caucho.quercus.servlet.QuercusServlet</servlet-class>
    <init-param>
      <param-name>license-directory</param-name>
      <param-value>WEB-INF/licenses</param-value>
    </init-param>
  </servlet>
  
  <servlet>
    <display-name>ServletAndThread</display-name>
    <servlet-name>ServletAndThread</servlet-name>
    <servlet-class>com.web.ServletAndThread</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Quercus Servlet</servlet-name>
    <url-pattern>*.php</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ServletAndThread</servlet-name>
    <url-pattern>/ServletAndThread</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>  
</web-app>